{% extends 'base.html' %}
{% load magazine_extras %}
{% block content %}
    <div class="row intro">
        <div class="container">
            <h1>Subscriptions and Magazines</h1>
        </div>
    </div>

    <div class="container">
    <div class="row">
        <div class="col-md-12 text-justify">
            <h2>Need inspiration?</h2>
            <p>
                Have a quick look below and check out the best magazines in Business and Entrepreneurship.
            </p>
            <p> They will inspire you and 25% of the subscription price will go to our Social Funds.</p>
            <p> All magazines have a monthly re-occuring payment.</p><hr>
            <h4> Happy Reading! </h4>
            <hr>
        </div>

    </div>
    </div>

    <div class="container table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Subscribe</th>
            </tr>
        </thead>
        <tbody>

            {% for magazine in magazines %}
            <tr>
            <td>{{ magazine.name }}</td>
            <td>{{ magazine.description }}</td>
            <td>€ {{ magazine.price }}</td>
            <td>{% paypal_form_for magazine user %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}