#intro{
    background-color: #85bfea;
    display: block;
    align-items: center;
    padding: 30px 0;
}

#pic1{
    width: 275px;
    height: 215px;
}

#weare{
    padding:30px 0;
}
#weare i{
    font-size: 80px;
    color: #85bfea;
}