{% extends 'base.html' %}
{% block content %}
<div class="row intro">
<div class="container">
    <h1>About us</h1>
</div>
</div>
<div class="container text-justify" id="about">
    <div class="row">
        <div class="col-md-4">
            <h2>The Challenge </h2> <i class="fa fa-dot-circle-o"></i>
            <p>Ireland is failing to address its social and environmental challenges fast enough. To do this, we need
                new approaches and better ideas. We need to challenge that status quo and look at these issues from a
                different angle. We need to focus more on effectiveness and on impact. We need to fund results. </p>
            <p>We are extremely fortunate in Ireland to have people right across the country developing new solutions
                to our societal problems. Without support, however, these ideas can struggle to make enough of an
                impact. With current challenges becoming more embedded by the day, and new and emerging issues on the
                rise, we know that we simply can’t afford to wait for these solutions to grow and scale on their own.</p>
        </div>
        <div class="col-md-4">
            <h2>The Idea</h2> <i class="fa fa-lightbulb-o"></i>
            <p>
                When a social entrepreneur comes up with a great new solution to a particular social problem,
                we believe that those individuals should get the funding and support that they need to scale and grow,
                ultimately impacting as many people as possible, as quickly as possible.
            </p>
            <p>
                At We Are Social Ireland, we seek out social entrepreneurs who have the most potential to positively
                impact upon challenges in our country. We work with them intensively to develop their projects and
                ensure that their ideas are implemented as effectively, efficiently, and sustainably as possible.
            </p>
        </div>
        <div class="col-md-4">
            <h2>The Impact</h2> <i class="fa fa-bullseye"></i>
            <p>Since 2015, We Are Social Ireland have supported 10 social entrepreneurs, investing more than €1.26
                million in their projects, as well as providing significant training and mentoring supports. These
                projects in turn have directly impacted the lives of 10,000 people across Ireland, and created 180 jobs
                in the process.</p>
            <p>
                We’ve seen the impact of Ireland’s leading social entrepreneurs increase significantly due to our
                funding and support. This group of 190 social entrepreneurs, along with other social entrepreneurs
                we have engaged with through programmes such as the Arthur Guinness Fund and Vodafone World of
                Difference, now form the largest network of social entrepreneurs in Ireland.
            </p>
        </div>
    </div>
<p></p>
</div>

{% endblock %}