{% extends 'base.html' %}
{% block content %}
    <div class="row text-center" id="home-page">
    <h1>Entrepreneurship in the digital age. </h1>
         <h1>We can change the world!</h1>
    <!--<h4>Our aim is to help entrepreneurs and their projects to have a positive effect on society!</h4>

    <h3>Want to pitch an idea to the community or help support a project?</h3>-->

    <a class="btn btn-success btn-lg" href="/register/">Sign up now!</a>
    </div>
    <div class="container text-center" id="we-are">
        <div class="col-md-6">
            <i class="fa fa-home"></i>
            <h2>Welcome on our page!</h2>
            <p>We are a group of entrepreneurs that have a passion for bringing change to our society and the world.
                Whilst we could use our experiences for pure profit, we instead feel that there is more to money and
                would rather give a helping hand to those that need it.</p>
        </div>
        <div class="col-md-6">
            <i class="fa fa-users"></i>
            <h2>Join us today!</h2>
            <p>Getting involved is simple. If you would like to invest in a project then simply find a project
                you like on the projects page and donate. If you have a project you'd like to get funding on then use
                the new project form to get started. </p>
        </div>
    </div>
    <div class="row text-center" id="whatis">
    <div class="col-md-3"></div>
    <div class="col-md-6 container">
        <i class="fa fa-question-circle-o"></i>
        <h2>What is Social Entrepreneurship?</h2>
        <p>Social entrepreneurship is the attempt to draw upon business techniques and private sector approaches
            to find solutions to social, cultural or environmental problems. This concept may be applied to a variety
            of organizations with different sizes, aims, and beliefs. Conventional entrepreneurs typically measure
            performance in profit, revenues and increases in stock prices, but social entrepreneurs also take into
            account a positive "return to society".</p>
    </div>
    <div class="col-md-3"></div>
    </div>
{% endblock %}