{% extends 'base.html' %}
{%  load thread_extras %}
{% block content %}
    <div class="row intro">
    <div class="container">
        <h1>Forum</h1>
        </div>
    </div>
    <div class="row">
    <div class="container">
        <h2>This is our forum where ideas come together!</h2>
        <p> Please click or tap on the subjects to check out our latest posts.</p>
        <hr>
    </div>
    </div>
    {% load bootstrap_tags %}
    {% for subject in subjects %}
        <div class="container text-justify" id="forum">
            <h2><a href="{% url "threads" subject.id %}">{{  subject.name }}</a></h2>
            <p><strong>
                <a href="{% url 'threads' subject.id %}">
                    {% autoescape off %}
                    {{ subject.description }}
                    {% endautoescape %}
                </a>
            </strong></p>
        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <th>Threads</th>
                    <th>Posts</th>
                </tr>
                <tr>
                    <td>{{ subject.threads.count }}</td>
                    <td> {{ subject|get_total_subject_posts }}</td>
                </tr>
            </table>
        </div>
        </div>
    {% endfor %}
{% endblock %}