{% extends "base.html" %}
{% load staticfiles %}
{% load thread_extras %}
{% block content %}
    <div class="row intro">
    <div class="container">
         <h1>{{ thread.name }}</h1>
        </div>
     </div>

 <div class="container">
    <div class="row thread-btns">
        <div class="col-md-12">
       {% if user.is_authenticated %}

           <a href="{% url 'new_post' thread.id %}" class="btn btn-primary">Add New Post</a>
       {% endif %}
            <a href="{% url 'forum' %}" class="btn btn-danger">Go Back to Forum</a>
         </div>
    </div>
     <div class="row text-justify">
     {% if thread.poll %}
         <div class="col-md-12">
             <h2>Poll</h2>
             <strong> {{ thread.poll.question }}</strong>
             <br><br>

             <p>Here's how the votes are so far:</p>

             {% for subject in thread.poll.subjects.all %}
                 <div class="container">
                     <strong> {{ subject.name }}</strong>
                     <span class="pull-right"> {{ subject|vote_percentage }}%</span>
                 </div>
                 {% autoescape off %}
                     <span class="pull-right"> {% user_vote_button thread subject user %} </span>
                 {% endautoescape %}
                 <div class="container">
                     <div class="progress">
                         <div class="progress-bar progress-bar-info" role="progressbar" aria-valuemin="0"
                              aria-valuemax="100" style="width:{{ subject|vote_percentage }}%;">
                         </div>
                     </div>
                 </div>
             {% endfor %}
         </div>
       {% endif %}
     </div>

    <div class="row table-responsive text-justify">

             <table class="table table-striped">
                 <tbody>
                 <tr class="text-info">
                     <th>Created</th>
                     <th>Owner</th>
                     <th>Last Post</th>
                </tr>
                <tr>
                    <td>
                        <time datetime="{{ thread.created_at }}">
                            {{ thread.created_at|started_time }}
                        </time>
                    </td>
                    <td>{{ thread.user.username }}</td>
                    <td>{% last_posted_user_name thread %}</td>
                </tr>
                </tbody>
            </table>

     </div>

    <div class="row">
        <div class="col-md-12">
   {% for post in thread.posts.all %}
     {% include "forum/post.html" %}
   {% endfor %}
        </div>
    </div>
</div>
{% endblock %}